<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debate List</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Debate List</h1>
    <table>
        <thead>
            <tr>
                <th>Debate ID</th>
                <th>Date</th>
                <th>Resolution </th>
                <th>Debate Type</th>
                <th>Quality Government</th>
                <th>Quality Opposition</th>
                <th>Sentiment Government</th>
                <th>Sentiment Opposition</th>
                <th>Quality Overall </th>
                <th> Sentiment Overall</th>
            </tr>
        </thead>
        <tbody>
            {% for debate in debates %}
                <tr>
                    <td>{{ debate[0]}}</td>
                    <td>{{ debate[1]}}</td>
                    <td>{{ debate[2]}}</td>
                    <td>{{ debate[3]}}</td>
                    <td>{{ debate[4]}}</td>
                    <td>{{ debate[5]}}</td>
                    <td>{{ debate[6]}}</td>
                    <td>{{ debate[7]}}</td>
                    <td>{{ debate[8]}}</td>
                    <td>{{ debate[9]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
