<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Washsoc</h1>
    <ul>
        <li><a href="/members">Members</a></li>
        <li><a href="/provisional-members">Provisional Member</a></li>
        <li><a href="/requirements">Requirements</a></li>
        <li><a href="/literary-presentations">Literary Presentations</a></li>
        <li><a href="/officers">Officers</a></li>
    </ul>
</body>
</html>